@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Đăng Nhập Thất Bại";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Bạn Không Phải Là Admin Nên Không Thể Truy Cập</p>
</header>
